*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 30px 150px auto;
    height: 100vh;
    background: #0690e6;
    font-size: 30px;
}

.slider{
    background-color: #ffffff;
    width: 700px;
    height: 700px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.slider__container{
    display: flex;
    justify-content: center;
    padding: 50px;
}

img{
    /*position: relative;*/
    width: 80%;
    display: none;
}

.slider__container img:nth-child(1){
    display: block;
}

.prev, .next{
    position: absolute;
    color: rgb(207, 82, 103);
    margin: auto;
    top: 325px;
    border: none;
    background-color: transparent;
    bottom: 325px;
    font-size: 50px;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
}

.prev{
    left: 5px;
}

.next{
    right: 5px;
}

